{% block content %}
<style>
    h1 {
        color: brown;
    }

    p {
        margin-top: 20px;
    }

    button[type="submit"] {
        background-color: beige;
        color: brown;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        margin-top: 10px;
    }

    button[type="submit"]:hover {
        background-color: brown;
        color: beige;
    }

    a {
        color: brown;
        text-decoration: none;
        margin-left: 10px;
    }
</style>

<h1>Confirm Deletion</h1>
<p>Are you sure you want to delete {{ contact.name }}?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
<a href="{% url 'contact_list' %}">Cancel</a>
{% endblock %}
